.fla1{
    border-style: solid;
    margin-left: 250px;
    margin-right: 650px;
    border-width: 10px;
    width: 250px;
    height: 50px;
    background-color: orange;
}
.fla2{
    border-style: solid;
    margin-left: 250px;
    margin-right: 650px;
    border-width: 10px;
    width: 250px;
    height: 50px;
    background-color:ghostwhite;
}
.fla3{
    border-style: solid;
    margin-left: 250px;
    margin-right: 650px;
    border-width: 10px;
    width: 250px;
    height: 50px;
    background-color:green;
}
.circle{
    border-style: solid;
    margin-left: 90px;
    margin-right: 50px;
    border-width: 10px;
    width: 50px;
    height: 40px;
    border-color: black;
    border-top-left-radius: 200px;
    border-top-right-radius:200px ;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius:200px ;
    background-color:blue;
    margin-bottom: 50px;
}
.stand{
    border-style: solid;
    border-width: 10px;
    border-color: gray;
    height: 300px;
    width: 10px;
    margin-left: 250px;
    background-color: grey;
}
.bench{
    border-style: solid;
    margin-left: 90px;
    margin-right: 50px;
    border-width: 10px;
    width: 300px;
    height: 40px;
    border-color: black;
    border-top-left-radius: 200px;
    border-top-right-radius:200px ;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius:200px ;
    background-color:black;
    margin-bottom: 50px;

}


